@{
    ViewBag.Title = "Add Activity";
    }

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Add Activity</title>
<link rel="stylesheet" type="text/css" href="~/Content/forms/view.css" media="all">
<script type="text/javascript" src="~/Scripts/forms/view.js"></script>
<script type="text/javascript" src="~/Scripts/forms/calendar.js"></script>
</head>
<body id="main_body" >
	<script type="text/javascript">
	    var flag = '@ViewBag.OK';
	    if (flag == 1) {
	        alert("Invalid Input !");
	    }
    </script>
	<img id="top" src="~/images/forms/top.png" alt="">
	<div id="form_container">
	
		<h1><a>Add Activity</a></h1>
		<form id="form_1131077" class="appnitro" enctype="multipart/form-data" method="post" action="@Url.Action("addActivity", "Class", new { cid=Session["cid"]} )">
					<div class="form_description">
			<h2>Add Activity</h2>
			<p>enter your activity details</p>
		</div>						
			<ul >
					<li id="li_7" >
		<label class="description" for="element_7">Activity Name </label>
		<div>
			<input id="name" name="name" class="element text medium" type="text" maxlength="255" value=""/> 
		</div><p class="guidelines" id="guide_7"><small>enter name of activity</small></p> 
		</li>		<li id="li_11" >
		<label class="description" for="element_11">Activity Type </label>
		<div>
		<select class="element select medium" id="type" name="type"> 
			<option value="" selected="selected"></option>
<option value="Assignment" >Assignment</option>
<option value="Quiz" >Quiz</option>
<option value="Lab" >Lab</option>
            <option value="Content">Content</option>
<option value="Other" >Other...</option>

		</select>
		</div><p class="guidelines" id="guide_11"><small>select type</small></p> 
		</li>		<li id="li_8" >
		<label class="description" for="element_8">Time Deadline </label>
		<span>
			<input id="hours" name="hours" class="element text " size="2" type="text" maxlength="2" value=""/> : 
			<label>HH</label>
		</span>
		<span>
			<input id="minutes" name="minutes" class="element text " size="2" type="text" maxlength="2" value=""/> : 
			<label>MM</label>
		</span>
		<span>
			<select class="element select" style="width:4em" id="ampm" name="ampm">
				<option value="AM" >AM</option>
				<option value="PM" >PM</option>
			</select>
			<label>AM/PM</label>
		</span><p class="guidelines" id="guide_8"><small>enter time deadline</small></p> 
		</li>		<li id="li_9" >
		<label class="description" for="element_9">Due Date </label>
		<span>
			<input id="month" name="month" class="element text" size="2" maxlength="2" value="" type="text"> /
			<label for="element_9_1">MM</label>
		</span>
		<span>
			<input id="day" name="day" class="element text" size="2" maxlength="2" value="" type="text"> /
			<label for="element_9_2">DD</label>
		</span>
		<span>
	 		<input id="year" name="year" class="element text" size="4" maxlength="4" value="" type="text">
			<label for="element_9_3">YYYY</label>
		</span>
	
		<span id="calendar_9">
			<img id="cal_img_9" class="datepicker" src="~/images/forms/calendar.gif" alt="Pick a date.">	
		</span>
		<script type="text/javascript">
		    Calendar.setup({
		        inputField: "element_9_3",
		        baseField: "element_9",
		        displayArea: "calendar_9",
		        button: "cal_img_9",
		        ifFormat: "%B %e, %Y",
		        onSelect: selectDate
		    });
		</script>
		<p class="guidelines" id="guide_9"><small>enter due date of submission</small></p> 
		</li>		<li id="li_6" >
		<label class="description" for="element_6">Description </label>
		<div>
			<textarea id="desc" name="desc" class="element textarea medium"></textarea> 
		</div><p class="guidelines" id="guide_6"><small>enter description/details of activity</small></p> 
		</li>		<li id="li_10" >
		<label class="description" for="element_10">Upload a File </label>
		<div>
			<input id="File" name="File" class="element file" type="file"/> 
		</div> <p class="guidelines" id="guide_10"><small>upload content archive</small></p> 
		</li>
			
					<li class="buttons">
			    <input type="hidden" name="form_id" value="1131077" />
			    
				<input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
		</li>
			</ul>
		</form>	
		
	</div>
	<img id="bottom" src="~/images/forms/bottom.png" alt="">
	</body>
</html>