@model ClassHub.Models.Class
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Add Class</title>
<link rel="stylesheet" type="text/css" href="~/Content/forms/view.css" media="all">
<script type="text/javascript" src="~/Scripts/forms/view.js"></script>

</head>
<body id="main_body" >
	
	<img id="top" src="~/images/forms/top.png" alt="">
	<div id="form_container">
	
		<h1><a>Add Class</a></h1>
        @*FORM HERE*@
		<form id="form" class="appnitro"  method="post" action="@Url.Action("addClass","Class")">
					<div class="form_description">
			<h2>Add Class</h2>
			<p>enter your class information</p>
		</div>						
			<ul>
			
					<li id="li_7" >
		<label class="description" for="element_7">Class Name </label>
		<div>
			<input id="name" name="name" class="element text medium" type="text" maxlength="255" value=""/> 
		</div><p class="guidelines" id="guide_7"><small>enter name of class/course</small></p> 
		</li>		<li id="li_8" >
		<label class="description" for="element_8">Department </label>
		<div>
			<input id="dept" name="dept" class="element text medium" type="text" maxlength="255" value=""/> 
		</div><p class="guidelines" id="guide_8"><small>enter name of department</small></p> 
		</li>		<li id="li_9" >
		<label class="description" for="element_9">Institute </label>
		<div>
			<input id="inst" name="inst" class="element text medium" type="text" maxlength="255" value=""/> 
		</div><p class="guidelines" id="guide_9"><small>enter name of institute</small></p> 
		</li>		<li id="li_6" >
		<label class="description" for="element_6">Description </label>
		<div>
			<textarea id="desc" name="desc" class="element textarea medium"></textarea> 
		</div><p class="guidelines" id="guide_6"><small>enter description about class</small></p> 
		</li>
			
					<li class="buttons">
			    <input type="hidden" name="form_id" value="1131077" />
			    
				<input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
		</li>
			</ul>
		</form>	
		<div id="footer">
	 <p>© 2016 Classhub. All Rights Reserved </p>
		</div>
	</div>
	<img id="bottom" src="~/images/forms/bottom.png" alt="">
	</body>
</html>